html {
    background-color: black;
}

div {
    width: 30%;
    margin: auto;
    margin-top: 5%;
}
h1, p {
    font-size: 200%;
    text-align: center;
    color: white;
}

p {
    font-size: 100%;
}
h1 {
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
}

img {
    width: 100%;
}